#userInformation{
    background-color: inherit;
    border: 3px;
    border-color: black
}

#userImage{
    background-color: lightblue;
    border-radius: 10px 10px 0px 0px;
}

#userName{
    background-color: lightblue;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    text-align: center;
    -webkit-text-fill-color: red;
    
}


