<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meetings erstellen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Raum:</ion-label>
    <ion-select [(ngModel)]="raumAuswahl" multiple="false" interface="alert" cancelText="Abbrechen" okText="OK">
      <ion-select-option value="r1">Büro 1</ion-select-option>
      <ion-select-option value="r2">Büro 2</ion-select-option>
      <ion-select-option value="r3">Büro 3</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Einladen:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Verpflichtend:</ion-label>
    <ion-select [(ngModel)]="verpflichtendeEinladungen" multiple="true" interface="alert" cancelText="Abbrechen" okText="OK">
      <ion-select-option value="u1">User 1</ion-select-option>
      <ion-select-option value="u2">User 2</ion-select-option>
      <ion-select-option value="u3">User 3</ion-select-option>
      <ion-select-option value="u4">User 4</ion-select-option>
      <ion-select-option value="u5">User 5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Optional:</ion-label>
    <ion-select [(ngModel)]="optionaleEinladungen" multiple="true" interface="alert" cancelText="Abbrechen" okText="OK">
      <ion-select-option value="u1">User 1</ion-select-option>
      <ion-select-option value="u2">User 2</ion-select-option>
      <ion-select-option value="u3">User 3</ion-select-option>
      <ion-select-option value="u4">User 4</ion-select-option>
      <ion-select-option value="u5">User 5</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Von:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Datum & Uhrzeit</ion-label>
    <ion-datetime display-format="YYYY MMM DD @ HH:mm" [(ngModel)]="dateFrom"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Bis:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Datum & Uhrzeit</ion-label>
    <ion-datetime display-format="YYYY MMM DD @ HH:mm" [(ngModel)]="dateTo"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-content>Gastgeber: </ion-content>
    <ion-content>{{username}}</ion-content>
  </ion-item>
  <ion-item *ngIf="raumAuswahl != 'r1'">
    <ion-label>Bewirtung:</ion-label>
    <ion-select [(ngModel)]="bewirtungsauswahl" multiple="true" interface="alert" cancelText="Abbrechen" okText="OK">
      <ion-select-option value="kaffee">Kaffee</ion-select-option>
      <ion-select-option value="nervennahrung">Nervennahrung</ion-select-option>
      <ion-select-option value="getraenke">Getränke</ion-select-option>
      <ion-select-option value="essen">Essen</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="fehlermeldungString != ''">
      <ion-icon name="warning"></ion-icon>
    <div>
         {{fehlermeldungString}}
    </div>
  </ion-item>
  <ion-item>
    <ion-button (click)="checkMeeting()">Prüfen der Buchung</ion-button>
  </ion-item>
  <ion-item>
    <ion-button (click)="saveMeeting()">jetzt buchen</ion-button>
  </ion-item>

</ion-content>