 #image-container {
  position: relative;
  margin: 3em auto;
  margin-top: 3em;
  margin-right: auto;
  margin-bottom: 3em;
  margin-left: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
  pointer-events:none;
  background:none !important;
}